body {
	font-family: 'Barlow Condensed', sans-serif;
	padding: 1rem;
	margin: 0;
	background: url(images/cloud-bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	flex: 1;
	flex-basis: 100%;
	justify-content: flex-start;
	flex-wrap: wrap;
	color: #fff;
}
header, main, footer {
	display: flex;
	flex: 1;
	flex-basis: 100%;
	min-width: 100%;
	font-size: 1.25rem;
	flex-wrap: wrap;
	justify-content: center;
}
h1 {
	font-size: 2rem;
	justify-content: center;
}

@media screen and (min-width: 720px) {
	header, main, footer {
		justify-content: flex-start;
	}
	h1 {
		font-size: 2.75rem;
	}
	p {
		font-size: 1.75rem;
	}
}

@media screen and (min-width: 1080px) {
	body {
		padding-left: 4rem;
	}
	h1 {
		font-size: 3.75rem;
	}
	p {
		font-size: 2.25rem;
	}
}